<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Türkçe Öğretimi Projeleri</title>
    <link rel="stylesheet" href="styles.css">
    <style>

/* Genel stilde temel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Ana içerik */
main {
    padding: 30px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}




    </style>
</head>
<body>
    <header>
        <div class="container">
            <h1>Türkçe Öğretimi Projeleri</h1>
        
        </div>
    </header>

    <main>
         <section id="oyun1">
        <h2>Mevsimleri Bul!</h2>
        <p>Bu oyunda, kullanıcılar mevsimlerin Türkçe karşılıklarını öğrenecekler.</p>
        </br>
        <a href="/SelectSeason/Index" class="button">Oyunu Başlat</a>
        </section>

         <section id="oyun2">
        <h2>Ayları Sırala!</h2>
        <p>Bu oyunda, kullanıcılar Türkçe Ayları pekiştirecekler.</p>
        </br>
        <a href="/Month/Index" class="button">Oyunu Başlat</a>
        </section>

         <section id="oyun3">
        <h2>Sözcük Eşleştirme</h2>
        <p>Bu oyunda, kullanıcılar Türkçe sözcükleri doğru eşleştirerek pratik yapacaklar.</p>
        </br>
        <a href="/AnaSayfa1/Index" class="button">Oyunu Başlat</a>
        </section>

          <section id="oyun4">
        <h2>Sözcük Eşleştirme</h2>
        <p>Bu oyunda, kullanıcılar Türkçe sözcükleri doğru eşleştirerek pratik yapacaklar.</p>
        <!-- Buton yerine bir bağlantı (anchor) etiketi kullanarak yönlendirme -->
        </br>
        <a href="/AnaSayfa1/Index" class="button">Oyunu Başlat</a>
        </section>
    </main>
</body>
</html>
